
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shered styles */


.display-flex {
  display: flex;
}

.btn{
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    padding: 20px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;

}
.text-primary{
    color: #FF900E;

}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* Dark-02 */
.text-gray{
    color: #424242;
}

/* Dark-03 */
.text-light-gray{
    color: #727272;
}
.bg-light-gray{
    background-color:rgba(255, 144, 14, 0.1);
}
/* header style */

/* nav related styles  */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-itam{
    list-style: none;
    margin-right: 30px;

}
.nav-link{
    text-decoration: none;
    color:#424242;
    font-weight: 500;
    font-size: 18px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-img{
    width: 100%;
}
.teams{
    align-items: center;
}
.img-contant{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

#Features-section-id{
    border-left: 5px solid #FF900E;
    padding:20px ;
}

#Experience-badge{
    padding: 45px 42px;
    font-size: 1.25rem;
    font-weight: 500px;
    margin-left: -100px;
    margin-top: -100px;
}
.Experience-year{
    font-size: 4rem;
    font-weight: 700;

}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06) ;
    margin-bottom: 20px;

}
.feature{
    gap: 140px;
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.our-futures{
    margin-left:130px ;
    max-width: 530px;
}


#quick{
    font-weight: 500;

}
.facts-contaner{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}
.feature-arshitect img{
    width: 100%;

}
.footer{
    
    max-width:1440px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-bottom: 216px;
    border-radius: 8px;
    background-color: rgba(255, 244, 231, 1);
}



@media screen and (max-width:576px) {
    .navbar,
    .nav-link,
    .teams,
    .feature,
    .sponsors-compaine{
        flex-direction: column;

    }
    .img-contant, .facts-contaner ,
    .sponsors-compaine{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-futures{
        margin-left: 20px;
    }
    .sponsors-compaine{
        justify-content: center;
        gap: 50px;

    }
    #Experience-badge{
        margin-top: 20px ;
        margin-left:20px ;
    }



}
.sponsors-info{
    max-width: 540px;
    margin:50px auto;
    text-align: center;

}
.sponsors-compaine{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsors-compaine img{
    filter: grayscale(100%);
}

/* medium */
@media screen and (min-width:576px) and (mix-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-futures{
        margin:50px auto;
    }
    .fact{
        justify-items: center;
        gap: 40px;
    }
    .sponsors-compaine{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
    
}


